<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>ExtodaZ</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/mdb.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
   <style type="text/css">
      html,
    body,
    header,
    .carousel {
      height: 1vh;
    }
  
      
  
     
    </style>
  
</head>

<body ng-app=myApp ng-controller="MyCtrl as vm">
    <div class="wrapper">
        <!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark blue darken-4">
  <a class="navbar-brand" href="#"><img src="/img/GAME.png" width="60" height="40"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/#">Home
          <span class="sr-only">(current)</span>
        </a>
      
    </ul>
    
    <ul class="navbar-nav ml-auto nav-flex-icons">
        <a class="nav-link" data-toggle="modal" data-target="#cartModal"><i class="fas fa-shopping-cart white-text" ></i>
          <i class="korpa white-text" >{{vm.korpa}}</i></a>
        <a class="nav-link" ng-click="vm.izlogujSe()" ng-show="vm.ulogovan" >Logout</a>
        
        
          
          
      <li class="nav-item dropdown" ng-hide="vm.ulogovan">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalLoginForm">Log in</a>
          <a class="dropdown-item" href="#" data-toggle="modal" data-target="#modalRegisterForm">Register</a>
          
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<main class="main"> 
  <div class="container">
<!--Section: Products v.3-->
<section class="text-center mb-4">

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

        <!--Card image-->
        <div class="view overlay"data-toggle="modal"  data-target="#modalBuyForm1">
          <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP1004-CUSA03041_00-REDEMPTION000002/1548911034000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000"  class="card-img-top" alt="">
          <a>
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!--Card image-->

        <!--Card content-->
        <div class="card-body text-center">
          <!--Category & Title-->
          <a href="" class="font-weight-bold white-text">
            <h5>Game</h5>
          </a>
          <h5>
            <strong>
              <a href="" data-toggle="modal" data-target="#modalBuyForm1" class="white-text">Read Dead Redemption 2 PS4
                <span class="badge badge-pill danger-color">NEW</span>
              </a>
            </strong>
          </h5>

          <h4 class="font-weight-bold white-text">
            <strong>59.99$</strong>
          </h4>

        </div>
        <!--Card content-->

      </div>
      <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm2">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA07408_00-00000000GODOFWAR/1548783497000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text" >
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm2">God of War PS4
                  <!--<span class="badge badge-pill danger-color">NEW</span>-->
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>49.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm3">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP2611-CUSA05877_00-P5PS4ULTIMATE001/1548783590000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm3">Persona 5 PS4
                  <!--<span class="badge badge-pill danger-color">NEW</span>-->
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>39.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->

    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm4">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/US/en/999/UP9000-CUSA02299_00-MARVELSSMGOTY000/1569350249000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm4">Spiderman Deluxe
                 <!-- <span class="badge badge-pill danger-color">NEW</span>-->
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>99.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->

    </div>
    <!--Fourth column-->
    
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm5">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA10237_00-HRZCE00000000000/1548783692000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm5">Horizon:Zero Dawn PS4
                  <!--<span class="badge badge-pill danger-color">NEW</span>-->
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>23.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm6">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA00341_00-UNCHARTED0000000/1547579016000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm6">Uncharted 4 PS4
                  <!--<span class="badge badge-pill danger-color">NEW</span>-->
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>59.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm7">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP0001-CUSA13917_00-FARCRYBOWMORECAN/1548899590000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm7">Far Cry:New Dawn PS4
                  <span class="badge badge-pill danger-color">NEW</span>
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>49.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->
    </div>
    <!--Grid column-->

    <!--Fourth column-->
    <div class="col-lg-3 col-md-6 mb-4">

      <!--Card-->
      <div class="card">

          <!--Card image-->
          <div class="view overlay" data-toggle="modal" data-target="#modalBuyForm8">
            <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP0700-CUSA11625_00-JUMP50THANNIV000/1548971973000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" class="card-img-top" alt="">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!--Card image-->
  
          <!--Card content-->
          <div class="card-body text-center">
            <!--Category & Title-->
            <a href="" class="font-weight-bold white-text">
              <h5>Game</h5>
            </a>
            <h5>
              <strong>
                <a href="" class="white-text" data-toggle="modal" data-target="#modalBuyForm8">Jump Force PS4
                  <span class="badge badge-pill danger-color">NEW</span>
                </a>
              </strong>
            </h5>
  
            <h4 class="font-weight-bold white-text">
              <strong>79.99$</strong>
            </h4>
  
          </div>
          <!--Card content-->
  
        </div>
        <!--Card-->

    </div>
    <!--Fourth column-->
    

  </div>
  <!--Grid row-->

</section>
</div>
</main>

<!--Section: Products v.3-->
</div>
<div class="elegant-color-dark"></div>
<!-- Footer -->
<footer class="page-footer font-small blue darken-4">
    
    <!-- Footer Elements -->
    <div class="container">
        
      <!-- Grid row-->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-12 py-5">
            
          <div class="mb-5 flex-center">
           <!--Shopping cart --> 
           
            <!-- Facebook -->
            <a class="fb-ic"href="https://www.facebook.com/playstation/">
              <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic"href="https://twitter.com/PlayStation">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic"href="https://plus.google.com/communities/110726592824846055745">
              <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic" href="https://www.linkedin.com/company/playstation-sony">
              <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic"href="https://www.instagram.com/playstation/">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
            </a>
            <!--Pinterest-->
            <a class="pin-ic" href="https://www.pinterest.com/ps4n/ps4-games/">
              <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
            </a>
          </div>
        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row-->

    </div>
    <!-- Footer Elements -->

    

  </footer>
  <!-- Footer -->

      
      <script type="text/javascript" src="js/jquery-3.3.1.min.js"></script>
      <script type="text/javascript" src="js/popper.min.js"></script>
      <script src="bower_components/angular/angular.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
      <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
      <script type="text/javascript" src="js/bootstrap.min.js"></script>
      <script type="text/javascript" src="js/mdb.min.js"></script>
      
      
      <script type="text/javascript">
        // Animations initialization
        new WOW().init();
      </script>
      <script src="js/app.js"></script>
      
      
      
      <!-- Login Modal form-->
      <div class="modal fade" id="modalLoginForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Sign in</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body mx-3">
        <div class="md-form mb-5">
          <i class="fas fa-envelope prefix grey-text"></i>
          <input type="email" ng-model="vm.imejl" id="defaultForm-email1" class="form-control validate">
          <label for="defaultForm-email1">Your email</label>
        </div>

        <div class="md-form mb-4">
          <i class="fas fa-lock prefix grey-text"></i>
          <input type="password" ng-model="vm.sifra" id="defaultForm-pass1" class="form-control validate">
          <label data-error={{vm.poruka}} data-success={{vm.poruka}} for="defaultForm-pass1">Your password</label>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-center ">
        <button class="btn blue darken-4 " ng-click="vm.ulogujSe()">Login</button>
      </div>
    </div>
  </div>
</div>
<!-- Register Modal form-->
<div class="modal fade" id="modalRegisterForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Sign up</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input type="email" ng-model="vm.imejl" id="defaultForm-email2" class="form-control validate">
        <label for="defaultForm-email2">Your email</label>
      </div>

      <div class="md-form mb-4">
        <i class="fas fa-lock prefix grey-text"></i>
        <input type="password" ng-model="vm.sifra" id="defaultForm-pass2" class="form-control validate">
        <label data-error={{vm.poruka}} data-success={{vm.poruka}} for="defaultForm-pass2">Your password</label>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center ">
      <button class="btn blue darken-4 " ng-click="vm.registrujSe()">Register</button>
    </div>
  </div>
</div>
</div>


<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP1004-CUSA03041_00-REDEMPTION000002/1548911034000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiRDR()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
        
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA07408_00-00000000GODOFWAR/1548783497000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiGOW()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP2611-CUSA05877_00-P5PS4ULTIMATE001/1548783590000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiP5()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA02299_00-SMDIGITALDELUXE0/1548792126000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiSPIDERMAN()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA10237_00-HRZCE00000000000/1548783692000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiHZD()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP9000-CUSA00341_00-UNCHARTED0000000/1547579016000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiUNCHARTED()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP0001-CUSA13917_00-FARCRYBOWMORECAN/1548899590000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiFC()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
<!--Modal: Buy with Avatar Form RDR-->
<div class="modal fade" id="modalBuyForm8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog cascading-modal modal-avatar modal-sm" role="document">
    <!--Content-->
    <div class="modal-content " style="background-color:#1a1b1c;">

      <!--Header-->
      <div class="modal-header">
        <img src="https://store.playstation.com/store/api/chihiro/00_09_000/container/CA/en/999/UP0700-CUSA11625_00-JUMP50THANNIV000/1548971973000/image?w=240&h=240&bg_color=000000&opacity=100&_version=00_09_000" alt="avatar" class="rounded-circle img-responsive">
      </div>
      <!--Body-->
      <div class="modal-body text-center white-text mb-1">

        <h5 class="mt-1 mb-2">Do you want to add this item to the cart?</h5>

        

        <div class="text-center mt-4">
          <button style=" display:inline-block;" ng-click="vm.kupiJF()" class="btn blue darken-4">Yes <i class="fas fa-sign-in ml-1"></i></button>
          <button style=" display:inline-block;"data-dismiss="modal" class="btn blue darken-4">No <i class="fas fa-sign-in ml-1"></i></button>
          <div ng-show="!vm.ulogovan" class="nijeUlogovan text-danger">{{vm.porukaKupi}}</div>
        </div>
      </div>

    </div>
    <!--/.Content-->
  </div>
</div>
<!--Modal: Login with Avatar Form-->
</button>

<!-- Modal korpe -->
<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Shopping cart</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h1 ng-repeat="el in vm.listaKorpe">{{el}}</h1>
      </div>
      <h2 class= "total text-primary d-flex justify-content-center">Total: {{vm.cenaKorpe}}$</h2>
      <div class="modal-footer d-flex justify-content-center ">
          
        <button type="button" class="btn blue darken-4" data-dismiss="modal">Close</button>
          
      </div>
    </div>
  </div>
</div>

    
</body>
</html>