.container {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -30px;
  
}
.navbar{

}
.card{
  background-color:#0d47a1;
  height:400px;

}
.main{
  background-color:#1a1b1c;
}
.dropdown-item{
  width: 150px;
}
/*.modal{
  height:500px;
}*/
.cart{
 
}